@model IEnumerable<ClienteVehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.Patente)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { item.ClienteId  ,item.VehiculoId}) |
                    @Html.ActionLink("Details", "Details", new { item.ClienteId, item.VehiculoId })|
                    @Html.ActionLink("Delete", "Delete", new { item.ClienteId, item.VehiculoId })
            </td>
        </tr>
}
    </tbody>
</table>
